<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Memory Card Game | 2Soang</title>
    <link rel="stylesheet" href="./game-1/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <button class="button button3" onclick="menuBack();">Menu</button>
    <div class="wrapper">
      <ul class="cards">
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-1.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-6.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-3.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-2.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-1.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-5.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-2.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-6.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-3.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-5.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="./game-1/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="./game-1/images/img-4.png" alt="card-img">
          </div>
        </li>
      </ul>
    </div>

    <script src="./game-1/js/script.js"></script>

  </body>
</html>

<script type="text/javascript">
  function menuBack() {
    window.location.href= "main";
  }

</script>